@page
@model TestBookmarksDatabase.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Administration</h1>

<div>
    <a class="btn btn-secondary" asp-page="/Administration/Users/Index">Users</a>
    <a class="btn btn-secondary" asp-page="/Administration/Roles/Index">Roles</a>
    <a class="btn btn-secondary" asp-page="/Administration/Bookmarks/Index">Bookmarks</a>
</div>